<div class="grid-item">

  <table class = "mui-table">
    <thead>
      <tr>
        <th class="single line">
          <img class="ui avatar image" 
            src="{{ post.author.profile_img_url or
            post.author.avatar(70) }}"
            style="height:70px;" />
          <span>
            {% set user_link %}
            <a href="{{ url_for('user.profile', username=post.author.username) }}">
              {{ post.author.username }}
            </a>
            {% endset %}
            {{ user_link }} said {{ moment(post.timestamp).fromNow() }}
            <br>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <td>
          <img id="post{{ post.id }}" src={{ post.photo_url }} height="400px">
        <br><br>
        {% if current_user.has_liked(post) %}
        <p><a class = "unlike_post{{ post.id }}" href="{{ url_for('api.unlike', id=post.id) }}">UnLike</a></p>
        {% else %}
        <p><a class = "like_post" data-post-id="{{ post.id }}" href="{{ url_for('api.like', id=post.id) }}"> Like</a></p>
        {% endif %}
        <div id = "likes" data-post-id={{ post.id }}>
          {% for like in post['likes'] %} {{ like.username }} {% endfor %}</div>
        <form role="form" id="like-post" data-post-id={{ post.id }}>
            <div class="form-group">
              <button id="like-send" type="submit" class="btn btn-primary">Like</button>
            </div>
        </form>
      </td>
      </tr>
    </tbody>
  </table>

</div>

{% block js %}
  <script>
  $(document).ready(function () {
    $('#like-post[data-post-id="{{ post.id }}"]').submit(handleFormSubmit);
      function handleFormSubmit(evt) {
        postId = $(this).data('post-id');
        evt.preventDefault();
        addMessage(postId);
      }
      function addMessage() {
        $.ajax({
           url: "{{ url_for('api.like', id=post.id) }}",
           type: "GET",
           success: function (data) {
             console.log(JSON.stringify(data))
             $('#likes[data-post-id="{{ post.id }}"]').append(" " +data.data)
           },
           error: function(xhr, ajaxOptions, thrownError){
            alert('not_cool')  //what to do in success
           },
        });
      }
  });
  </script>
{% endblock %}
