{% extends "base.html" %}

{% block app_content %}
  <main class="ui text container">
    <div class="post photo">
      <h2>Photos</h2> 
       <div class="container">
          {% include 'main/_posts.html' %}
          {% if next_url %}
            <a class="npage" href={{ next_url or "#" }}>next_url</a>
          {% endif %}
       </div>
    </div>
  </main>

{% endblock %}

{% block js %}
<script>
  $('.container').infiniteScroll({
    path: '.npage',
    append: '.post-item'
  });
</script>
{% endblock %}
