{% extends "base.html" %}

{% block app_content %}

  <main class="ui text container">

  <div class="post photo">
    <h2>Add a Photo</h2> 
    <form action="{{ url_for('main.post') }}" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
        <div class="field">
          {{ form.photo_description.label }}
          {{ form.photo_description }}
        </div>
        <img id="target" src="http://placehold.it/180" alt="your image" />
        <div class="field">
          {{ form.photo.label }}
          {{ form.photo(class_="imgInp") }}
        </div>
      {{ form.submit }}
      {% for error in form.photo_description.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </form>
  </div>
  {% if success %}
  <br>
  <p>Post Success!</p>
  {% endif %}
  </main>
 
  {% block js %}
  <script>
   function readURL(input) {
     if (input.files && input.files[0]) {
       var reader = new FileReader();
       reader.onload = function (e) {
         $('#target')
           .attr('src', e.target.result);
       };
       reader.readAsDataURL(input.files[0]);
     }
   }

  $(".imgInp").change(function(){
    readURL(this);
  })
  ;
  </script>
  {% endblock %}

{% endblock %}
