{% extends "base.html" %}

{% block app_content %}
<main class="ui container">

  <div class="ui items">
    <div class="item">

      <div class="image">
        {% if user.profile_img_url %}
          <img src="{{ user.profile_img_url }}" style="width:256px;height:256px;">
        {% else %}
          <img src="{{ user.avatar(256) }}">
        {% endif %}
      </div>

      <div class="content">

        <a class="header">User: {{ user.username }}</a>

        <div class="meta">
          <p>
            <span>{{ user.followers.count() }} followers </span> 
            <span>{{ user.followed.count() }} following </span>
          </p>
        </div>

        <div class="description">
          {% if user.bio %}
            <p>{{ user.bio }}</p>
          {% endif %}
        </div>

        {% if user == current_user %}
          <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
          <p><a href="{{ url_for('api.follow', username=user.username) }}"> Follow</a></p>
        {% else %}
          <p><a href="{{ url_for('api.unfollow', username=user.username) }}">Unfollow</a></p>
        {% endif %}
        <form role="form" id="follow-user{{ user.username }}">
            <div class="form-group">
              <button id="user-send" type="submit" class="btn
                btn-primary">Follow</button>
            </div>
        </form>

      </div>
    </div>
  </div>

  {% for post in posts %}
      {% include 'main/_post.html' %}
  {% endfor %}

</main>
{% endblock %}

{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script>
  $(document).ready(function () {
    $("#follow-user{{ user.username }}").submit(handleFormSubmit);

      function handleFormSubmit(evt) {
        evt.preventDefault();
        addMessage();
      }

      function addMessage() {
        $.ajax({
           url: "{{ url_for('api.follow', username=user.username) }}",
           type: "GET",
           success: function (data) {
            alert('cool')  //what to do in success
           },
           error: function(xhr, ajaxOptions, thrownError){
            alert('not_cool')  //what to do in success
           },
        });
      }
  });
  </script>

{% endblock %}
