<nav class="uk-navbar-container uk-margin uk-padding
  uk-padding-remove-vertical uk-flex uk-flex-center" uk-navbar>

    <ul class="uk-navbar-nav">

      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('posts.index') }}">Feed</a>
      <li><a href="{{ url_for('users.discover') }}">Discover</a>
      <li class="uk-active"><a class="uk-navbar-item uk-logo" href="{{ url_for('posts.index') }}"><img
          src='/static/images/logo.jpg'/></a></li>

      <li><a href="{{ url_for('posts.post') }}">Post</a></li>
      {% endif %}

      {% if current_user.is_anonymous %}
      <li><a href="{{ url_for('account.login') }}">Login</a></li>
      <li><a href="{{ url_for('account.register') }}">Register</a></li>
      {% else %}
      <li><span class="uk-navbar-item uk-text-muted uk-text-capitalized">{{ current_user.username}}</span>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a href="{{ url_for('users.profile',
                username=current_user.username) }}">Profile</a></li>
            <li><a href="{{ url_for('posts.favorites') }}">Favorites</a></li>
            {% if current_user.role and current_user.is_demo_admin() %}
              <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
            {% endif %}
            <li><a href="{{ url_for('account.logout') }}">Logout</a></li>
          </ul>
         </div>
      </li>
      {% set new_messages = current_user.new_messages() %}
      <li><a><span id="user_notification_count" class="dynamic_badge" 
        data-badge="{{ new_messages }}"
        style="visibility: {% if new_messages %}visible
                           {% else %}hidden{% endif %};">
      </span></a></li>
      {% endif %}
    </ul>


</nav>

