<nav class="uk-navbar-container uk-margin uk-padding
  uk-padding-remove-vertical" uk-navbar>
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a class="uk-navbar-item uk-logo" href="{{ url_for('posts.index') }}"><img
          src='https://cdn.dribbble.com/users/300948/screenshots/3089597/analog_camera.jpg'
          uk-tooltip="View Photos made by your friends"/>Filmogram</a></li>
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('posts.post') }}" uk-tooltip="Upload a photo">Post</a></li>
      {% endif %}
      <li><a href="{{ url_for('user.discover') }}" uk-tooltip="Discover other
          users and make friends">Discover</a>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      {% if current_user.is_authenticated %}
      {% set new_messages = current_user.new_messages() %}
      <li><span id="user_notification_count" class="dynamic_badge" 
        data-badge="{{ new_messages }}"
        style="visibility: {% if new_messages %}visible
                           {% else %}hidden{% endif %};">
      </span></li>
      {% endif %}
      {% if current_user.is_anonymous %}
      <li><a href="{{ url_for('account.login') }}">Login</a></li>
      <li><a href="{{ url_for('account.register') }}">Register</a></li>
      {% else %}
      <li><span class="uk-navbar-item uk-text-muted uk-text-capitalized">{{ current_user.username}}</span>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a href="{{ url_for('user.profile', username=current_user.username) }}">Profile</a></li>
            <li><a href="{{ url_for('posts.favorites') }}">Favorites</a></li>
            <li><a href="{{ url_for('account.logout') }}">Logout</a></li>
           </ul>
         </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
