<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% if title %}
      <title>{{ title }} - FilmoGram </title>
    {% else %}
      <title>Welcome to FilmoGram</title>
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/css/uikit.min.css" />
    {% if config.DEVELOPMENT %}
      <!-- Webpack Dev Mode -->
      <link rel="stylesheet" href="http://localhost:8080/static/css/app.css">
    {% else %}
      <!-- Static Build Mode -->
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
    {% endif %}
  </head>

  <body class="site">

    {% include '_navbar.html' %}

    {% block content %}
       <main class = "site-content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (var i=0; i<messages.length; i++) {
                new Noty({
                  theme: 'rellax',
                  type: 'info',
                  text: messages[i]
                }).setTimeout(1000).show();
              } 
            </script>
          {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
      </main>
    {% endblock %}

    {% include '_footer.html' %}

    {% if config.DEVELOPMENT %}
      <!-- Webpack Dev Mode -->
      <script src='http://localhost:8080/static/js/app.bundle.js'></script>
    {% else %}
      <!-- Static Build Mode -->
      <script src='/static/js/app.bundle.js'></script>
    {% endif %}

    {% block scripts %}
      {{ moment.include_moment() }}
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
      <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>
      <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit-icons.min.js"></script>

      <script>
        $(document).ready(function () {

          function set_user_notification_count(n) {
            $('#user_notification_count').data('badge',n);
            $('#user_notification_count').css('visibility', n ? 'visible' : 'hidden');
          }

          {% if current_user.is_authenticated %}

          $(function() {
            var since = 0;
            setInterval(function() {
              $.ajax('{{ url_for('api.get_notifications') }}?since=' + since)
                .done(function(notifications) {
                  for (var i = 0; i < notifications.length; i++) {
                    if (notifications[i].name == 'unread_user_notification_count')
                      set_user_notification_count(notifications[i].data);
                    since = notifications[i].timestamp;
                  }
                }
              );
            }, 10000);
          });
        });
        {% endif %}

      </script>

      <script type="text/javascript">
        $(document).ready(function () {
          var csrf_token = "{{ csrf_token() }}";
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
            }
          });
        });
      </script>

      <script>
      $(document).ready(function() {
        $(".uk-navbar-nav a").on("click", function(){
           $(".uk-navbar-nav").find(".uk-active").removeClass("uk-active");
           $(this).parent('li').addClass("uk-active");
         });
      });
      </script>

      <script>
        $(document).ready(function () {
          $('#user_notification_count').on("click", resetCount);
          function resetCount (e) {
            e.preventDefault();
              reset(done, fail);
          };
           function done(data) {
             $('#user_notification_count').hide(500).css({visibility: 'hidden',display: ""});
          };
           function fail() {
              alert("Something failed");
          };
          function reset(done, fail) {
            $.ajax({
               url: "/api/notifications",
               method: "DELETE",
             })
               .done(done)
               .fail(fail);
          };
      });
      </script>

      <script>
        $(document).ready(function () {
          $('#posts').on("click", '.js-toggle-like', toggleLike);
          var button;
          var postId;
          function toggleLike (e) {
            e.preventDefault();
            button = $(e.target).closest('button');
            postId = button.data("post-id");
            if (button.hasClass("uk-button-default"))
              likePost(postId, like_cb, fail);
            else
              unlikePost(postId, unlike_cb, fail);
          };
           function like_cb(data) {
              button.toggleClass("uk-button-default").toggleClass("uk-button-primary")
             $(".likes [data-post-id=" + postId +"]").append("<a class='uk-link-text' href='/user/" + data.result + "'>" + data.result + "</a>");
          };
           function unlike_cb(data) {
              button.toggleClass("uk-button-default").toggleClass("uk-button-primary")
              $(".likes [data-post-id=" + postId +"]:last a").last().remove();
          };
           function fail() {
              alert("Something failed");
          };
          function likePost(postId, done, fail) {
            $.ajax({
               url: "/api/like/" + postId,
               method: "POST",
             })
               .done(like_cb)
               .fail(fail);
          };
          function unlikePost(postId, done, fail) {
            $.ajax({
               url: "/api/like/" + postId,
               method: "DELETE",
             })
               .done(unlike_cb)
               .fail(fail);
          };
        });
      </script>

      <script>
        $(document).ready(function () {
          $('form[name="comment"]').on("submit", main);
          var form;
          var postId;
          function main (e) {
            e.preventDefault();
            form = $(e.target)
            postId = form.data("post-id");
            addComment(postId, done, fail);
          };
           function done(data) {
             $(".comments [data-post-id=" + postId +"] > ul").append(
                "<li> \
                   <a class='social-card-content-user' href='/user/" + data.author +
                   "'>" + data.author + "</a> \
                  <span style='padding-left:10px'>" + data.body + "</span> \
                </li>"
             );
          };
           function fail() {
              alert("Something failed");
          };
          function addComment(postId, done, fail) {
            $.ajax({
               url: "/api/comment/" + postId,
               method: "POST",
               data: form.serialize(),
             })
               .done(done)
               .fail(fail);
          };
        });
      </script>

      <script>
        $(document).ready(function () {
          $('#posts').infiniteScroll({
            path: '.npage',
            append: '.post-item'
          });
        });
      </script>

      <script>
        $(document).ready(function () {
           function readURL(input) {
             if (input.files && input.files[0]) {
               var reader = new FileReader();
               reader.onload = function (e) {
                 $('#target')
                   .attr('src', e.target.result);
               };
               reader.readAsDataURL(input.files[0]);
             }
           }
          $(".imgInp").change(function(){
            readURL(this);
          });
        });
      </script>

      <script>
        $(document).ready(function () {
          var options = {
            valueNames: [ 'name' ],
            page: 5,
            pagination: true
          };
          var userList = new List('users', options);
        });
      </script>

      <script>
        $(document).ready(function () {
          var options = {
            valueNames: [ 'name' ],
            page: 5,
            pagination: true
          };
          var userList = new List('followers', options);
        });
      </script>

      <script>
        $(document).ready(function () {
          var options = {
            valueNames: [ 'name' ],
            page: 5,
            pagination: true
          };
          var userList = new List('followings', options);
        });
      </script>

      <script>
        $(document).ready(function () {
          $('.js-toggle-follow').on("click", toggleFollow);
          var button;
          var username;
          function toggleFollow (e) {
            e.preventDefault();
            button = $(e.target)
            username = button.data("username");
            if (button.hasClass("uk-button-default"))
              followUser(username, follow_cb, fail);
            else
              unfollowUser(username, unfollow_cb, fail);
          };
           function follow_cb(data) {
              button.toggleClass("uk-button-default").toggleClass("uk-button-primary").text("Following")
          };
           function unfollow_cb(data) {
              button.toggleClass("uk-button-default").toggleClass("uk-button-primary").text("Follow")
          };
           function fail() {
              alert("Something failed");
          };
          function followUser(username, done, fail) {
            $.ajax({
               url: "/api/follow/" + username,
               method: "POST",
             })
               .done(follow_cb)
               .fail(fail);
          };
          function unfollowUser(username, done, fail) {
            $.ajax({
               url: "/api/follow/" + username,
               method: "DELETE",
             })
               .done(unfollow_cb)
               .fail(fail);
          };
        });
      </script>

    {% endblock %}
    {% block js %}{% endblock %}

  </body>
</html>
