<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% if title %}
      <title>{{ title }} - FilmoGram </title>
    {% else %}
      <title>Welcome to FilmoGram</title>
    {% endif %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/css/uikit.min.css" />
    {% if config.DEVELOPMENT %}
      <!-- Webpack Dev Mode -->
      <link rel="stylesheet" href="http://localhost:8080/static/css/app.css">
    {% else %}
      <!-- Static Build Mode -->
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
    {% endif %}
  </head>

  <body>
    {% include '_navbar.html' %}

    {% block content %}
        {% block app_content %}{% endblock %}
    {% endblock %}

    {% include '_footer.html' %}

    {% if config.DEVELOPMENT %}
      <!-- Webpack Dev Mode -->
      <script src='http://localhost:8080/static/js/app.bundle.js'></script>
    {% else %}
      <!-- Static Build Mode -->
      <script src='/static/js/app.bundle.js'></script>
    {% endif %}

    {% block scripts %}
      {{ moment.include_moment() }}
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>
      <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.39/js/uikit-icons.min.js"></script>
      <script>
        function set_user_notification_count(n) {
          $('#user_notification_count').data('badge',n);
          $('#user_notification_count').css('visibility', n ? 'visible' : 'hidden');
        }
        {% if current_user.is_authenticated %}
        $(function() {
          var since = 0;
          setInterval(function() {
            $.ajax('{{ url_for('api.notifications') }}?since=' + since).done(
              function(notifications) {
                for (var i = 0; i < notifications.length; i++) {
                  if (notifications[i].name == 'unread_user_notification_count')
                    set_user_notification_count(notifications[i].data);
                  since = notifications[i].timestamp;
                }
              }
            );
          }, 10000);
        });
        {% endif %}
      </script>
      <script>
        $(function(){
          $('.nav-sub-toggle').on('click', function(){
            if ($(this).next('.uk-nav-sub').hasClass('closed')) {
              $(this).removeClass('uk-icon-chevron-right').addClass('uk-icon-chevron-down');
              $(this).next('.uk-nav-sub').removeClass('closed');
            } else {
              $(this).removeClass('uk-icon-chevron-down').addClass('uk-icon-chevron-right');
              $(this).next('.uk-offcanvas-bar .uk-parent .uk-nav-sub').addClass('closed');
            }
          });
          });
      </script>
    {% endblock %}
    {% block js %}{% endblock %}

  </body>
</html>
