<table class = "ui celled padded table">
  <thead>
    <tr>
      <th class="single line">
      <img class="ui avatar image" src="{{ post.author.profile_img_url or
      post.author.avatar(70) }}"
      height="70px" />
      <span>
          {% set user_link %}
          <a href="{{ url_for('main.user', username=post.author.username) }}">
            {{ post.author.username }}
          </a>
          {% endset %}
          {{ user_link }} said {{ moment(post.timestamp).fromNow() }}
          <br>
      </span>
    </th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <td>
      <img id="post{{ post.id }}" src={{ post.photo_url }} height="400px">
       <br><br>
        {% if post.liker|length %}
            <a href="#" data-toggle="modal" data-target="#{{ post.slug }}_likers_modal">Likes: {{ post.liker|length }}</a>
            {% include 'posts/likers.html' %}
        {% else %}
            <p>Be the first to like this.</p>
        {% endif %}
        <div>
            {% if current_user in post.liker %}
            <p><a href="{{ url_for('main.unlike', username=user.username }}"></a></p>
            {% else %}
            <p><a href="{{ url_for('main.like', username=user.username }}"></a></p>
            {% endif %}
        <input type="text" class="form-control" placeholder="Add a comment..." aria-describedby="comment">
     </span>
    </td>
    </tr>
  </tbody>

</table>
