{% extends "base.html" %}

{% block app_content %}
  <main class="ui text container">

  <h1>Upload File</h1>
  <a href="{{ url_for('main.upload_file') }}">Upload</a> /
  <hr>

  <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.photo(multiple="multiple")}}
      {% for error in form.photo.errors %}
          <span style="color: red;">{{ error }}</span>
      {% endfor %}
      {{ form.submit }}
  </form>

  {% if success %}
  <br>
  <p>Upload Success!</p>
  {% endif %}

  </main>
{% endblock %}
