html {
        color: #4a4a4a !important;
        background-color: #f9f9f9 !important;
}

body {
        background-color: #fafafa;
        font-family: 'Droid Sans', sans-serif;
}

table {
        color: #4a4a4a !important;
        background-color: #f9f9f9 !important;
}

main {
        width: 38em !important;
        margin: auto;
}

img {
        max-width: 30em !important;
}

textarea, select, input[type] {
        // color: #4a4a4a;
        padding: 6px 10px;
        margin-bottom: 10px;

        // background-color: #f1f1f1;
        border: 1px solid #DCDCDC;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
}

textarea:focus, select:focus, input[type]:focus {
        border: 1px solid #DCDCDC;
        outline: 0;
}

.pagination li {
        display: inline-block;
        padding: 5px;
}

a {
        text-decoration: none;
}

hr {
        border: none;
        border-bottom: 1px solid #ccc;
        margin-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 0px;
}


// overrides
@media (min-width: 1200px) {
        .uk-card-body {
                padding: 30px 30px;
        }
}
