.uk-navbar-container {
        background-color: #ffffff !important;
        border-style: solid;
        border-color: #DCDCDC;
        border-width: 0.5px;
}

.uk-navbar-container img {
        height: 60px;
        padding-right: 10px;
}

