{% extends "base.html" %}

{% block main_content %}

<main class="uk-container">
  <div class="uk-flex uk-flex-center">
    <div class="uk-margin-medium-top uk-card uk-card-default">
      <form class="form-register" method="POST">
        <fieldset class ="uk-fieldset">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle uk-flex-center" uk-grid>
              <div class="uk-width-auto">
                <h3 class="uk-card-title uk-margin-remove-bottom">Login</h3>
              </div>
            </div>
            {% for error in form.password.errors %}
            <span class="uk-text-danger">
              {{ error }}
            </span>
            {% endfor %}
            {% for error in form.username.errors %}
            <span class="uk-text-danger">
              {{ error }}
            </span>
            {% endfor %}
          </div>
          {{ form.hidden_tag() }}
          <div class="uk-card-body">
            {{ form.username.label(class="sr-only") }}
            <div class="uk-margin">
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon" uk-icon="icon: user"></span>
                {{ form.username(class_="uk-input uk-form-width-large") }}
              </div>
            </div>
            {{ form.password.label(class="sr-only") }}
            <div class="uk-margin">
              <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
                {{ form.password(class_="uk-input uk-form-width-large") }}
              </div>
            </div>
          </div>
          <div class = "uk-card-footer">
            {{ form.submit(class="uk-button uk-button-primary uk-width-1-1") }}
          </div>
          <div id="demo_login" class="uk-flex uk-flex-middle uk-flex-center">
          <button 
              type="button"
              data-username = "avedon"
              data-password = "P@ssw0rd!"
              class="demo-user uk-button"
              style="margin-left:10px; margin-right:10px">
              Demo User
          </button>
          <button 
              type="button"
              data-username = "daido"
              data-password = "P@ssw0rd!"
              class="demo-user uk-button"
              style="margin-left:10px; margin-right:10px">
              Demo Admin
          </button>
          </div>

          <div uk-alert class="uk-flex uk-flex-center" style="background-color:#FFF">
            <span style="margin: 0 10px 0 0;">New User? 
            <a href="{{ url_for('account.register') }}"> Click to Register!</a>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</main>
{% endblock %}

{% block js %}

<script>
  $(document).ready(function () {
    var button;
    var returnUrl;
    $("#demo_login").on("click",'button.demo-user', loginUser);

    function loginUser (e) {
      button = $(e.target);
      var username = button.attr("data-username");
      var password = button.attr("data-password");
      loginUserCall(username, password);
    };

    function loginUserCall(email, password) {
      var data = {};
      data.username = email;
      data.password = password;
      $.ajax({
         url: "/api/account",
         contentType: 'application/json',
         dataType: 'json',
         method: "POST",
         data: JSON.stringify(data),
         success: function (data) {
           if (data.result != 0) {
             new Noty({
               text: 'Login Successful'
             }).setTimeout(2000).show();
             window.location= '/posts';
           }
         },
         error: function(xhr, ajaxOptions, thrownError){
          alert('something went wrong')  
         },
      });
    }
  })
</script>
{% endblock %}
