<div class="post-item">

  <div class="Instagram-card">
    <div class="Instagram-card-header">
      <img class="Instagram-card-user-image" src="{{ post.author.profile_img_url or post.author.avatar(70) }}" style="height:50px;" />
      <a class="Instagram-card-user-name" href="{{ url_for('user.profile', username=post.author.username) }}">{{ post.author.username }}</a>
      <div class="Instagram-card-time">{{ moment(post.timestamp).fromNow() }}</div>
    </div>

    <div class="Instagram-card-image">
      <img id="post{{ post.id }}" src={{ post.photo_url }} height="400px">
    </div>

    <div class="Instagram-card-content">

      <div style="float:left;">
        <a class="footer-action-icons" href="#">
          <i class="fa fa-heart-o"></i>

          {% if current_user.has_liked(post) %}
            <form role="form">
              <div class="form-group">
                <button id="unlike-post" data-post-id={{ post.id }} type="submit" class="uk-button">Unlike</button>
              </div>
            </form>
          {% else %}
            <form role="form">
              <div class="form-group">
                <button id="like-post" data-post-id={{ post.id }} type="submit" class="uk-button">Like</button>
              </div>
            </form>
          {% endif %}
        </a>
      </div>

      <div class="Likes" style="float:left;">
        <div id = "likes" data-post-id={{ post.id }}>
          {% for like in post['likes'] %} 
            <a href="{{ url_for('user.profile', username=like.username) }}">{{ like.username }}</a>
          {% endfor %}
        </div>
      </div>

      <br>
      <br>
      <div>
        <a class="Instagram-card-content-user" href="{{ url_for('user.profile', username=post.author.username) }}">
          {{ post.author.username }}
          </a><span style="padding-left:10px">
          {{ post.caption }}<span>
      </div>
      {% include 'posts/_comments.html' %}
    <hr>
    </div>  

    <div class="Instagram-card-footer">

      <div class="comment form">
        <form name="comment" data-post-id="{{post.id}}" action="{{
          url_for('posts.details', id=post.id) }}" method="POST">
          {{ form.hidden_tag() }}
            <div class="field">
              {{ form.body(class_="comments-input") }}
            </div>
          {{ form.submit }}
          {% for error in form.body.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </form>
      </div>

      <a class="footer-action-icons"href="#"><i class="fa fa-ellipsis-h"></i></a>
    </div>
  </div>
</div>
<br><br>

{% block js %}

  <script>
      $(document).ready(function() {
        $('form[name="comment"][data-post-id="{{ post.id }}"]').submit(function (e) {
          alert(JSON.stringify($('form[data-post-id="{{post.id}}"]').serialize()));
              $.ajax({
                  type: "POST",
                  url: "{{ url_for('api.comment', id=post.id) }}",
                data: $('form[data-post-id="{{ post.id }}"]').serialize(),
                  success: function (data) {
                     alert(JSON.stringify(data));
                     $('#comments[data-post-id="{{ post.id }}"]').append(" " +data.data)
                  },
                  error: function(xhr, ajaxOptions, thrownError){
                   alert('not_cool') 
                  },
              });
              e.preventDefault(); // block the traditional submission of the form.
          });
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                  }
              }
          })
      });
  </script>

{% endblock %}

