<div class="post-item">

  <div class="Instagram-card">
    <div class="Instagram-card-header">
      <img class="Instagram-card-user-image" src="{{
      post.author.profile_img_url or post.author.avatar(70) }}" />
      <a class="Instagram-card-user-name" href="{{ url_for('user.profile', username=post.author.username) }}">{{ post.author.username }}</a>
      <div class="Instagram-card-time">{{ moment(post.timestamp).fromNow() }}</div>
    </div>

    <div class="Instagram-card-image">
      <img id="post" data-post-id="{{ post.id}}" src={{ post.photo_url }} height="400px">
    </div>

    <div class="Instagram-card-content">
      <div style="float:left;">
        <a class="footer-action-icons" href="#">
          <i class="fa fa-heart-o"></i>
          {% if current_user.has_liked(post) %}
            <form role="form">
              <div class="form-group">
                <button id="unlike-post" data-post-id={{ post.id }} type="submit" class="uk-button">Unlike</button>
              </div>
            </form>
          {% else %}
            <form role="form">
              <div class="form-group">
                <button id="like-post" data-post-id={{ post.id }} type="submit" class="uk-button">Like</button>
              </div>
            </form>
          {% endif %}
        </a>
      </div>

      <div class="Likes" >
        <div id = "likes" data-post-id={{ post.id }}>
          {% for like in post['likes'] %} 
            <a href="{{ url_for('user.profile', username=like.username) }}">{{ like.username }}</a>
          {% endfor %}
        </div>
      </div>

      <br>
      <br>
      <div>
        <a class="Instagram-card-content-user" href="{{ url_for('user.profile', username=post.author.username) }}">
          {{ post.author.username }}
          </a><span style="padding-left:10px">
          {{ post.caption }}<span>
      </div>
      {% include 'posts/_comments.html' %}
    <hr>
    </div>  

    <div class="Instagram-card-footer">
      <div style="box-sizing: border-box; width:100%;">
        <form name="comment" data-post-id="{{post.id}}" action="{{
          url_for('posts.details', id=post.id) }}" method="POST">
          <fieldset class="uk-fieldset">
            {{ form.hidden_tag() }}
              <div class="uk-margin">
                {{ form.body(class_="comments-input uk-textarea") }}
                {{ form.submit(class_="uk-button uk-button-default") }}
              </div>
            {% for error in form.body.errors %}
              <span class="uk-text-danger">{{ error }}</span>
            {% endfor %}
          </fieldset>
        </form>
      </div>
      <a class="footer-action-icons"href="#"><i class="fa fa-ellipsis-h"></i></a>
    </div>
  </div>
</div>
<br><br>

{#
{% block js %}
<script>
  $(document).ready(function() {
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
        }
      }
    })
  });
</script>

<script>
  $(document).ready(function() {
    $('form[name="comment"][data-post-id="{{ post.id }}"]').submit(function (e) {
      $.ajax({
        type: "POST",
        url: "{{ url_for('api.comment', id=post.id) }}",
        data: $('form[data-post-id="{{ post.id }}"]').serialize(),
        success: function (data) {
          $('#comments[data-post-id="{{ post.id }}"]').append(" " +data.data)
        },
        error: function(xhr, ajaxOptions, thrownError){
        },
      });
    e.preventDefault();
    });
  });
</script>
{% endblock %}
#}
