<div class="post-item">

  <div class="social-card">
    <div class="social-card-header">
      <img class="social-card-user-image" src="{{
      post.author.profile_img_url or post.author.avatar(70) }}" />
      <a class="social-card-user-name" href="{{ url_for('users.profile', username=post.author.username) }}">{{ post.author.username }}</a>
      <div class="social-card-time">{{ moment(post.timestamp).fromNow() }}</div>
    </div>

    <div class="social-card-image">
      <img id="post" data-post-id="{{ post.id}}" src={{ post.photo_url }} height="400px">
    </div>

    <div class="social-card-content">
      <div style="float:left; padding-right:10px;">
          {% if current_user.has_liked(post) %}
          <button class="uk-button uk-button-small uk-button-primary js-toggle-like"
            type="button" data-post-id={{ post.id }} uk-icon="check">
          </button>
          {% else %}
          <button class="uk-button uk-button-small uk-button-default js-toggle-like" 
            type="button" data-post-id={{ post.id }} uk-icon="check">
          </button>
          {% endif %}
      </div>

      <div class = "likes" >
        <div id = "likes" data-post-id={{ post.id }}>
          {% for like in post['likes'] %} 
            <a href="{{ url_for('users.profile', username=like.username) }}"
              class='uk-link-text'>{{ like.username }}</a>
          {% endfor %}
        </div>
      </div>

      <br><br>

      <div style = "padding-bottom: 5px;">
        <a class="social-card-content-user" href="{{ url_for('users.profile', username=post.author.username) }}">
          {{ post.author.username }}
          </a><span style="padding-left:10px">
          {{ post.caption }}<span>
      </div>
      {% include 'posts/_comments.html' %}
    <hr>
    </div>  

    <div class="social-card-footer">
      <div style="box-sizing: border-box; width:100%;">
        <form name="comment" data-post-id="{{post.id}}" class="js-comment"  action="{{
          url_for('posts.details', id=post.id) }}" method="POST">
          <fieldset class="uk-fieldset">
            {{ form.hidden_tag() }}
              <div class="uk-margin">
                {{ form.body(class_="comments-input uk-textarea") }}
                {{ form.submit(class_="uk-button uk-button-default") }}
              </div>
            {% for error in form.body.errors %}
              <span class="uk-text-danger">{{ error }}</span>
            {% endfor %}
          </fieldset>
        </form>
      </div>
      <a class="footer-action-icons"href="#"><i class="fa fa-ellipsis-h"></i></a>
    </div>
  </div>
</div>
<br><br>
