{% extends "base.html" %}

{% block app_content %}

<main class="uk-container">
  <h1 class="uk-heading-line"><span>Discover Users</span></h1>
  <div id="users">
    <div class="uk-search uk-search-default">
      <span uk-search-icon></span>
      <input class="search uk-search-input" placeholder="Search" />
    </div>
    <ul class="list uk-list uk-list-striped">

    {% for user in users %}
      <li>
        <table class="table uk-table">
          <tr>
            <td>
              <div class="image">
                {% if user.profile_img_url %}
                  <img src="{{ user.profile_img_url }}" style="height:90px;">
                {% else %}
                  <img src="{{ user.avatar(90) }}">
                {% endif %}
              </div>
            </td>
            <td style="padding-left:10px">
              <p class="name">
                <a href="{{ url_for('users.profile', username=user.username) }}">{{ user.username }}</a>
              </p>
              <p class="followers">
                {% if user.followers == true and user.followed == true %}
                {{ '%d followers' % user.followers.count() }}, {{ '%d following' % user.followed.count() }}
                {% endif %}
              </p>
            </td>
            <td style="padding-left:10px">
              {% if current_user.is_following(user) %}
                <a href="{{ url_for('api.follow', username=user.username) }}"
                  class="uk-button uk-button-primary js-toggle-follow" type="button"
                  data-username={{ user.username }}>Following</a>
              {% else %}
                {% if user == current_user %}
                  <button href="{{ url_for('api.unfollow', username=user.username) }}"
                    class="uk-button uk-button-disabled" type="button" 
                    data-username={{ user.username }} disabled>Follow</button>
                {% else %}
                  <a href="{{ url_for('api.unfollow', username=user.username) }}"
                    class="uk-button uk-button-default js-toggle-follow" type="button" 
                    data-username={{ user.username }}>Follow</a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        </table>
      </li>
    {% endfor %}

    </ul>
    <ul class="pagination uk-pagination uk-flex-center"></ul>
  </div>
</main>
{% endblock %}
