{% extends "base.html" %}

{% block app_content %}
<main class="ui text container">

  <h2 class="ui header">
    <div class="content">
      Edit Profile
    </div>
  </h2>

  <form action="{{ url_for('user.edit_profile') }}" method="POST" enctype="multipart/form-data">
    <div class="ui segment">
        {{ form.hidden_tag() }}
        <img id="target" src="{{ current_user.profile_img_url or
        current_user.avatar(180) }}" alt="your image" />
        <div class="field">
          {{ form.profile_img.label }}
          {{ form.profile_img(class_="imgInp") }}
        </div>
        <div class="field">
          {{ form.username.label }}<br>
          {{ form.username(size=32) }}<br>
          {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="field">
          {{ form.bio.label }}<br>
          {{ form.bio(cols=50, rows=4) }}<br>
          {% for error in form.bio.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>

      {{ form.submit(class="ui submit button") }}
    </form>
</main>
{% endblock %}

  {% block js %}
  <script>
   function readURL(input) {
     if (input.files && input.files[0]) {
       var reader = new FileReader();
       reader.onload = function (e) {
         $('#target')
           .attr('src', e.target.result);
       };
       reader.readAsDataURL(input.files[0]);
     }
   }
  $(".imgInp").change(function(){
    readURL(this);
  })
  ;
  </script>
  {% endblock %}

