{% extends "base.html" %}

{% block app_content %}
<main class="ui container">

  <div class="ui items">
    <div class="item">

      <div class="image">
        {% if user.profile_img_url %}
          <img src="{{ user.profile_img_url }}" style="width:256px;height:256px;">
        {% else %}
          <img src="{{ user.avatar(256) }}">
        {% endif %}
      </div>

      <div class="content">

        <div class="header">{{ user.username }}</div>

        <div class="meta">
          <p>
            <p><span> {{ user.followers.count() }}<a href="{{ url_for('user.followers', username=user.username) }}">
               Followers</a></p>
            <p><span> {{ user.followed.count() }}<a href="{{
                  url_for('user.following', username=user.username) }}">
               Following</a></p>
          </p>
        </div>

        <div class="description">
          {% if user.bio %}
            <p>{{ user.bio }}</p>
          {% endif %}
        </div>

        {% if user == current_user %}
          <p><a href="{{ url_for('user.edit_profile') }}">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
          <p><a href="{{ url_for('api.follow', username=user.username) }}"> Follow</a></p>
        {% else %}
          <p><a href="{{ url_for('api.unfollow', username=user.username) }}">Unfollow</a></p>
        {% endif %}
        <form role="form" id="follow-user" data-username="{{
          user.username}}">
            <div class="form-group">
              <button id="user-send" type="submit" class="btn
                btn-primary">Follow</button>
            </div>
        </form>

      </div>
    </div>
  </div>

  {% for post in posts %}
      {% include 'main/_post.html' %}
  {% endfor %}

</main>
{% endblock %}

{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script>
  $(document).ready(function () {
    $("#follow-user").submit(handleFormSubmit);

      function handleFormSubmit(evt) {
        username = $(this).data('username');
        evt.preventDefault();
        addMessage(username);
      }

      function addMessage(username) {
        $.ajax({
           url: "/api/follow/"+username,
           type: "GET",
           success: function (data) {
            alert('cool')  
           },
           error: function(xhr, ajaxOptions, thrownError){
            alert('not_cool') 
           },
        });
      }
  });
  </script>

{% endblock %}
