{% extends "base.html" %}

{% block app_content %}
<main class="uk-container">
  <div class = "profile">
    <h1 class = "uk-heading-line"><span>Profile</span></h1>

    <div class = "image">
      <div class = "uk-flex uk-flex-center uk-padding">
        {% if user.profile_img_url %}
          <img src="{{ user.profile_img_url }}" style="height:256px;">
        {% else %}
          <img src="{{ user.avatar(256) }}">
        {% endif %}
      </div>
    </div>

    <div class = "description">
      {% if user.bio %}
        <p>{{ user.bio }}</p>
      {% endif %}
    </div>

    <div class = "action">
      <div class="uk-flex uk-flex-center">
        {% if user == current_user %}
          <a href="{{ url_for('user.edit_profile') }}" class="uk-button
            uk-button-default">Edit Profile</a> 
        {% elif not current_user.is_following(user) %}
          <a href="{{ url_for('api.follow', username=user.username) }}"
            class="uk-button uk-button-default"> Follow</a>
        {% else %}
          <a href="{{ url_for('api.unfollow', username=user.username) }}"
            class="uk-button uk-button-default">Unfollow</a>
        {% endif %}
        <form role="form" id="follow-user" data-username="{{
          user.username}}">
           <fieldset class="uk-fieldset">
              <button id="user-send" class="uk-button uk-button-default" type="button" tabindex="-1">Follow</button>
          </fieldset>
        </form>
      </div>
    </div>

    <h3 class = "uk-heading-line uk-text-right"><span>{{ user.username}}</span></h3>
  </div>

  <div class = "content">
    <ul class="uk-subnav uk-subnav-pill uk-flex-center" uk-switcher>
      <li><a href="#">Posts</a></li>
      <li><a href="#">{{ user.followers.count() }} Followers</a></li>
      <li><a href="#">{{ user.followed.count() }} Followings</a></li>
    </ul>
    <ul class="uk-switcher uk-margin">
      <li>{% include 'posts/_posts.html' %}</li>
      <li>{% include 'user/_followers.html' %}</li>
      <li>{% include 'user/_followings.html' %}</li>
    </ul>
  </div>

</main>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function () {
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
      }
    });
  });
</script>

  <script>
  $(document).ready(function () {
    $("#follow-user").submit(handleFormSubmit);

      function handleFormSubmit(evt) {
        username = $(this).data('username');
        evt.preventDefault();
        addMessage(username);
      }

      function addMessage(username) {
        $.ajax({
           url: "/api/follow/"+username,
           type: "GET",
           success: function (data) {
            alert('cool')  
           },
           error: function(xhr, ajaxOptions, thrownError){
            alert('not_cool') 
           },
        });
      }
  });
  </script>
<script>
  $(document).ready(function () {
    $('#posts').on("click", '.js-toggle-like', toggleLike);
    var button;
    var postId;

    function toggleLike (e) {
      e.preventDefault();
      button = $(e.target);
      postId = button.data("post-id");

      if (button.hasClass("uk-button-default"))
        likePost(postId, like_cb, fail);
      else
        unlikePost(postId, unlike_cb, fail);
    };
     function like_cb(data) {
        button.toggleClass("uk-button-default").toggleClass("uk-button-primary")
       $("#likes[data-post-id=" + postId +"]").append("<a class='uk-link-text' href='/user/" + data.result + "'>" + data.result + "</a>&nbsp;");
    };
     function unlike_cb(data) {
        button.toggleClass("uk-button-default").toggleClass("uk-button-primary")
        $("#likes[data-post-id=" + postId +"]:last a").last().remove();
    };
     function fail() {
        alert("Something failed");
    };
    function likePost(postId, done, fail) {
      $.ajax({
         url: "/api/like/" + postId,
         method: "POST",
       })
         .done(like_cb)
         .fail(fail);
    };
    function unlikePost(postId, done, fail) {
      $.ajax({
         url: "/api/like/" + postId,
         method: "DELETE",
       })
         .done(unlike_cb)
         .fail(fail);
    };
  });
</script>


{#
<script>
  $(document).ready(function () {
    $("#posts").on("click","#unlike-post", unlikePost);
    function unlikePost (e) {
      e.preventDefault();
      var button = $(e.target);
      var postId = button.data("post-id");
      unlikePostCall(postId);
    };
    function unlikePostCall(postId) {
      $.ajax({
         url: "/api/unlike/" + postId,
         method: "GET",
         success: function (data) {
          alert('cool') 
           $("#likes[data-post-id=" + postId +"]").remove(data.data);
         },
         error: function(xhr, ajaxOptions, thrownError){
          alert('not_cool') 
         },
      });
    }
  });
</script>
#}
{% endblock %}
